* {
  box-sizing: border-box;
}

body {
     background: #8d0801;
}

.image img{
    margin: 1rem auto;
    display: block;
    width: 100%;
    height: auto;
}                               <!--navbar-->
.navbar-brand {
    color:#708d81;
}
.main-tagline text-center{
    color: #708d81;
}         

#panel, #flip {
  padding: 0.5rem;
  text-align: center;
  background-color: #f4d58d;
  border: solid 1px #001427;
}

#panel {
  padding: 5rem;
  display: none;
}